<style type="text/css">
    body
    {
        font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    }

    tr
    {
        margin: 0;
       
        border: 10px
        border-collapse: collapse;
        outline: 1px solid #000000;
        width: 75%;
    }
	
	td {
	color: #107896;
	font-weight: bold;
	}

    tr
    {
        padding: 5px 5px;
    }
  
    th
    {
        background: #707070;
        border-collapse: collapse;
        color: white;
        padding: 5px 10px;
    }


    tr:nth-child(even) {
        background-color: #888888;
    }
    </style>
<% @allteams.each do |list| %>


<div class="container" style="float: left;
    width: 650px;">
 <h2 style="float:left;color:black; font-size: 27px;">Judge :&nbsp;&nbsp; </h2> <h2 id="judgename" style="color:black; font-weight: bold !important; font-size: 27px;;float:left"><%= User.find(list.user_id).name %></h2>
  <table class="table">
    <thead>
      <tr>
        <th> Team </th>
		<th> Correctness </th>
        <th> Relevance </th>
        <th> Creativity</th>
        <th> User Experience</th>
		<th> sustainability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td>  <%= list.teamname %> </td>
		<td> <%= list.correctness %></td>
        <td>  <%= list.relevance %> </td>
        <td> <%= list.creativity %> </td>
        <td> <%= list.userexperience %> </td>
		<td> <%= list.sustainability%></td>
      </tr>
      
    </tbody>
  </table>
</div>
<% end%>



















